{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            {% if book.types %}
            <tr>
                <th>Type</th>
                {% for type in book.types %}
                    <td>{{ type.name }}</td>
                {% endfor %}
            </tr>
            {% endif %}
            <tr>
                <th>Publication_year</th>
                <td>{{ book.publicationYear }}</td>
            </tr>
            <tr>
                <th>Number_of_pages</th>
                <td>{{ book.numberOfPages }}</td>
            </tr>
            <tr>
                <th>Isbn_code</th>
                <td>{{ book.isbnCode }}</td>
            </tr>
            <tr>
                <th>Availability</th>
                {% if book.isAvailable %}
                    <td>Le livre est disponible</td>
                {% else %}
                    <td>Le livre n'est pas disponible</td>
                {% endif %}
            </tr>
        <td>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">back to list</a>

    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
